.settings
.project
registrocatastro-datos/.settings
registrocatastro-datos/target
registrocatastro-datos/.classpath
registrocatastro-datos/.project

registrocatastro-entidades/.settings
registrocatastro-entidades/target
registrocatastro-entidades/.classpath
registrocatastro-entidades/.project

registrocatastro-servicios/.settings
registrocatastro-servicios/target
registrocatastro-servicios/.classpath
registrocatastro-servicios/.project

registrocatastro-web/.settings
registrocatastro-web/target
registrocatastro-web/.classpath
registrocatastro-web/.project